{% extends "_base.html" %}

{% block content %}
<h3 style="color:#ff0300">Your random job: {{ rand_job }}</h3><br> <!-- placeholder for random job -->
    <table>
        <thead>
        <tr>
            <td>Job Class</td>
            <td>Percentage</td>
        </tr>
        </thead>
        <tbody>
        {% for jb, pr in jobs %} <!-- forward loop that lists jobs and percentages in a table  -->
            <tr>
                <td>
                    {{ jb }}
                </td>
                <td>
                    {{ pr }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock content %}
