<!DOCTYPE html>
<html>
  <head>
    <title>Form Page</title>
  </head>
  <body>
    {% if username == None or username == '' %}
    <form action = "/auth">
      Username: <input type="text" name = "username"><br>
      Password: <input type="password" name = "password"><br>
      <input type="submit" name = "sub1">
    </form>
    {% else %}
      {% if 'guest' == username %}
        {% if '123' == password %}
          <h2>Welcome username!</h2>
        {% else %}
          <h2>Bad password!</h2>
        {% endif %}
      {% else %}
        <h2>Bad username!</h2>
      {% endif %}
    {% endif %}



  </body>
</html>
