{% extends "_base.html" %}

{% block content %}
    {# the tuple retuned by the lambda fxn in app.py is being used here #}
    {# the name of the occupation is being made into a link #}
    <h3 style="color:#ff0300">Your random job: <a href="{{ rand_job[1] }}">{{ rand_job[0] }}</a></h3><br>
    <table>
        <thead>
        <tr>
            <td>Job Class</td>
            <td>Percentage</td>
        </tr>
        </thead>
        <tbody>
        {% for jb, pr in jobs %}
            <tr>
                <td>
                    <a href="{{ pr[1] }}">{{ jb }}</a>
                </td>
                <td>
                    {{ pr[0] }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock content %}
