<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8"/>
    <title> Trivia </title>
  </head>
  <body>
    <h1> API Name: Open Trivia Database </h1><br>
    <h3>This is an API that returns trivia questions. There is a public API that can be used to generate at maximum 10 random trivia questions per call.</h3>
    <br>
    <h4>Two Random Trivia Questions:</h4>
    <br>
    {% for key in category %}
      {{ key }}: {{ category[key] }}
      <br>
    {% endfor %}
    <br>
    {% for key in category2 %}
      {{ key }}: {{ category2[key] }}
      <br>
    {% endfor %}
    <br>
  </body>
</html>
